body {
    background-color: #1e1e1e;
    color: #a5a5a5;

}

a {
    color: #a5a5a5;
}

.container div:first-child {
    color: #a5a5a5;
}

input[type="text"],
input[type="password"] {
    background-color: #2b2b2b;
    color: #a5a5a5;
}

button {
    background-color: #323232;
    color: #a5a5a5;
}

button:hover {
    background-color: rgba(30, 30, 30, 0.71);
}

td, th {
  border: 1px solid #1e1e1e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #1e1e1e;
}

.chat-header {
    background-color: #404040;
    color: #a5a5a5;
}

.chat__members__container {
    background-color: #404040;
}

.chat-members-div {
    color: #a5a5a5;
}

.chat__message__container {
    background-color: #404040;
}

.chat-message {
    background-color: #404040;
}

.chat-message.right {
    background-color: rgba(96, 96, 96, 0.78);
}

.chat-message span {
    color: #a5a5a5;
}

.admin-card {
    border: 1px solid #ccc;
    color: #a5a5a5;
}

.admin-card:hover {
    background-color: rgba(30, 30, 30, 0.71);
}

.admin-card .icon {
    color: #a5a5a5;
}

.auth-user-icon {
    color: #a5a5a5;
}

.dropdown-content {
  background-color: #404040;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #a5a5a5;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.account-navigation div a {
    color: #a5a5a5;

}

.edit-avatar-icon {
    color: #959595;
    background-color: #404040;
    border: 1px solid #8a8a8a;
}

.edit-avatar-icon:hover {
    background-color: rgb(30, 30, 30);
}

.icon-button, .icon-button:hover {
    color: #959595;
}