{% extends 'base.html' %}
{% load static %}

{% block footer %}
    <div class="footer">
                <ul>
                    <a href="https://www.linkedin.com/in/vasil-yordanov-66008417b" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/vyordanov1" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </ul>
            </div>
    ©Copyright. All rights reserved.
{% endblock footer %}