{% extends "chat/base.html" %}
{% load static %}
{% block content %}
     <form method="post">
                {% csrf_token %}
                <div class="branding">VB-Chat</div>
                <input type="hidden" name="next" value="{% url 'index' %}">
                {{form.as_p}}
                <div class="btn-container">
                    <button type="submit">Login</button>
                </div>
                <a class="reg-form" href="{% url 'register' %}">Register</a>
            </form>
{% endblock content %}