{% extends 'chat/base.html' %}
{% load static %}
{% block content %}
<div class="chat-container">
        <div class="chat-header">
            <h1> {{ page_data.header }}
                <i class="fas fa-comment"></i>
            </h1>
        </div>
    <div class="chat-logout">
        {% if request.user.is_authenticated %}
            <div class="auth-user-icon">
                <i class="fa-solid fa-user"></i>
                {{ user.username }}
                {% if user.admins.is_admin %}
                    <a href="{% url 'admin' %}">
                        <i class="fa-solid fa-gear"></i>
                        Admin
                    </a>
                {% endif %}
            </div>
            <div style="float: left;">
                <a href="{% url page_data.leave_btn.url %}">
                    <i class="fa-solid fa-chevron-left"></i>
                    {{ page_data.leave_btn.name }}
                </a>
            </div>
            <div style="clear: both;"></div>
        {% endif %}
    </div>
    <div class="chat__members__container" id="id_chat_members_container">
        {% block chat_container %} {% endblock chat_container %}
    </div>
</div>

{% endblock content %}