{% extends 'chat/base.html' %}
{% load static %}
{% block javascript %}
    <script type="module" src="{% static 'chat/js/index.js' %}"></script>
{% endblock javascript %}

{% block content %}
    <div class="container-data">
        <div class="counter-container">
{#            JS rendering the data#}
        </div>
         <div class="illustration">
                <img src="{% static 'chat/images/Live-Chat-Vector-Illustration.jpg' %}" alt="Illustration of people interacting on a laptop screen">
         </div>
        <div class="signin-form">
            {% block inner_content %} {% endblock inner_content %}
        </div>
    </div>
{% endblock content %}