{% extends "chat/main.html" %}
{% load static %}
{% block chat_container %}
{% load custom_filters %}
    <div class="container row align-items-center justify-content-center" style="font-size: 24px">
        Users
    </div><hr>
    {% for u in users %}
        <div class="chat-members-div">
            <div class="member-info">
                {{ u.username }}
                {% if u.id in logged_in_users %}
                    <i class="fa-solid fa-check"></i>
                {% else %}
                    <i class="fa-solid fa-xmark" style="color:red"></i>
                {% endif %}
            </div>
            <div class="start-chat">
                <a href="/chat/{{ u.profile.uuid|remove_hyphens}}/">
                    <button>
                        <i class="fa-regular fa-message"></i>
                        Chat
                    </button>
                </a>
            </div>
        </div>
    {% endfor %}
    <div class="container row align-items-center justify-content-center" style="font-size: 24px">
        Rooms
    </div><hr>
        {% for r in rooms %}
            {% if r.is_public %}
                <div class="chat-members-div">
                    <div class="member-info">
                        {{ r.name }}
                    </div>
                    <div class="start-chat">
                        <a href="/chat/group/{{ r.uuid|remove_hyphens}}/">
                            <button>
                                <i class="fa-regular fa-message"></i>
                                Join
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
    {% endfor %}

{% endblock chat_container %}
