{% extends "chat/main.html" %}
{% load static %}
{% block content %}
{% load custom_filters %}
    <div class="chat-container">
        <div class="chat-header">
            <h1>{{ room.name }}
                <i class="fas fa-comment"></i>
            </h1>
        </div>
        <div class="chat-leave">
            <div style="float: left; font-weight: bold; color: #036358">
                <i class="fa-solid fa-user"></i>
                {{ user.username }}
            </div>
            <div style="float: right;">
                <a href="{% url 'index' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    Leave Chat
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="chat__message__container" id="chat__message__container">
{#            <textarea id="chat-log" cols="100" rows="20"></textarea><br>#}
        </div>
        <div class="chat-input-container">
            <input type="text" id="chat-message-input" placeholder="Type your message..." />
            <button type="submit" id="chat-message-submit"><i class="fas fa-paper-plane"></i> Send</button>
        </div>
    </div>

    {{ page_data.room_name|json_script:"room-name"}}
    {{ request.user.username|json_script:"user" }}
    {{ chat_messages|json_script:"messages" }}
{% endblock content %}