{% extends 'chat/main.html' %}
{% load static %}
{% block chat_container %}
{% load custom_filters %}
    {{ rooms }}
    <div class="content">
        <div class="row">
            <div class="col">
                <a href="{% url page_data.manage_users %}">
                    <div class="admin-card">
                        <i class="fa-solid fa-user icon"></i><br>
                        Users
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url page_data.manage_rooms %}">
                    <div class="admin-card">
                        <i class="fa-solid fa-door-open icon"></i><br>
                        Chat Rooms
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url page_data.manage_themes %}">
                    <div class="admin-card">
                        <i class="fa-solid fa-palette icon"></i><br>
                        Themes
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock chat_container %}