.idea/
.DS_Store
psql/
.env
app/app/__pycache__/
redis_data/
app/chat/__pycache__/
app/chat/templatetags/__pycache__/
app/chat/migrations/__pycache__/
app/chat/migrations/
app/login/__pycache__/
app/login/migrations/
app/account/__pycache__/
app/account/migrations/
staticfiles/
app/media/
psql_data/
app/static/admin
app/account/management/__init__.py
app/account/management/__pycache__/
app/account/management/commands/__pycache__/
app/account/management/commands/__init__.py
app/static/django-browser-reload/
app/__init__.py
app/static/unfold/
app/static/rest_framework/
.psql_data/
