{% extends "main.html" %}
{% load static %}
{% block inner_content %}
    <h2 class="form-title">Sign in</h2>
     <form method="post" class="login-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'index' %}">
        {{form.as_p}}
        <div class="btn-container">
            <button type="submit">Login</button>
        </div><br>
         <div class="login-urls">
            <a class="reg-form" href="{% url 'register' %}">Register</a>
            <a class="reg-form" href="{% url 'password_reset' %}">Forgot password?</a>
         </div>
     </form>
{% endblock inner_content %}