{% extends "chat/account/account.html" %}
{% load static %}
{% block account_content %}
    {% for theme in themes %}
        <div class="row">
            <div class="col-md-4 theme-card glass py-5 glass mx-3 my-2">
    {#            <img src="../static/website/img/{{theme.name}}.png" alt="Avatar" style="width:100%">#}
                <div class="container">
                <hr />
                <h3 class="d-flex justify-content-center">{{theme.name|upper}}</h3>
                <form method="post" action="{% url 'select_theme' %}">
                    {% csrf_token %}
                    <div class="col-md-12 d-flex justify-content-center">
                        <button class="account_card_button" type="submit" name='theme' value="{{theme.name}}">Select Theme</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock account_content %}