{% extends 'chat/chat-main.html' %}
{% load static %}
{% block chat_container %}
    <script>
        function handleFileUpload(event) {
            let file = event.target.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    let label = document.getElementById('edit-label');
                    label.classList.add('hidden');
                    let submitButton = document.getElementById('upload-btn');
                    submitButton.classList.remove('hidden');
                    console.log('Image selected:', e.target.result);
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
            <div class="col-md-12 flex-grow-1 pt-2" id="content">
            <div class="row">
                <div class="col-12 col-md-3 border-right mx-2">
                    <div class="d-flex flex-column align-items-center py-4 avatar-icon">
                    {% with profile_image=user.profile.image %}
                        {% if profile_image %}
                            <img src="{{ MEDIA_URL }}/media/{{ profile_image }}"
                                    alt="{{ user.username }}" style="width: 200px; height: 200px; border-radius: 50%;"><br>
                            {% else %}
                            <img src="https://ui-avatars.com/api/?name={{ user.username|first }}&background=00A3BF&color=182A4D"
                                    alt="{{ user.username }}" style="width: 200px; height: 200px; border-radius: 50%;"><br>
                        {% endif %}
                    {% endwith %}

                        <form method="POST" enctype="multipart/form-data" action="{% url 'upload_image' %}">
                            {% csrf_token %}
                            {{ image_form }}  <!-- This renders the hidden input -->
                            <label for="id_image" class="edit-avatar-icon" id="edit-label">
                                <i class="fa-solid fa-pen"></i>
                                Edit
                            </label>
                            <button type="submit" class="edit-avatar-icon hidden" id="upload-btn">
                                <i class="fa-solid fa-file-arrow-up"></i>
                                Upload
                            </button>
                        </form>
                    </div>
                    <div class="d-flex flex-column align-items-start text-center p-3">
                        <span class="account_card_title">Name: {{ user.first_name }} {{ user.last_name }}</span>
                        <span class="account_card_title">Email: {{ user.email }}</span>
                        <span class="account_card_title">Username: {{ user.username }}</span>
                        <span class="account_card_title">Role: {% if user.admins.is_admin %}admin{% else %}user{% endif %}</span><br>
                        </span><br>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="p-3 py-5">
                        {% include 'account/navigation.html' %}
                        <hr>
                        {% block account_content %} {% endblock account_content %}
                    </div>
                </div>
            </div>
{% endblock chat_container %}