{% extends "account/account.html" %}
{% load static %}
{% block account_content %}
    <div class="row">
        {% for theme in themes %}
                <div class="col-md-4 theme-card glass py-5 glass mx-3 my-2">
                    <div class="container">
                    <h3 class="d-flex justify-content-center">{{theme.name|upper}}</h3>
                    <form method="POST" action="{% url 'select_theme' %}">
                        {% csrf_token %}
                        <div class="col-md-12 d-flex justify-content-center">
                            <button class="account_card_button" type="submit" name='theme' value="{{theme.id}}">Select</button>
                        </div>
                    </form>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock account_content %}