{% extends 'account/account.html' %}
{% load static %}
{% block account_content %}
    <div class="container">
    <form method="POST" action="{% url 'create_room' %}">
        {% csrf_token %}
        {{ delete_form }}
        <button type="submit" class="icon-button">
            <i class="fa-solid fa-plus"></i>
            Create Room
        </button>
    </form>
    {% include 'chat/search-bar.html' %}
    <table>
        <tr>
            <th>ID</th>
            <th>UUID</th>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        {% for r in rooms %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.uuid }}</td>
                <td>{{ r.name }}</td>
                <td>
                    <form method="POST" action="{% url 'delete_room' r.uuid %}">
                        {% csrf_token %}
                        {{ delete_form }}
                            <button type="submit" class="icon-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock account_content %}