{% extends 'account/account.html' %}
{% load static %}
{% block account_content %}
    {{ block.super }}
<div class="container">
    <table style="margin-bottom: 5vh">
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.name }}</td>
                <td>
                    <form method="POST" action="{% url 'delete_theme' theme.pk %}">
                        {% csrf_token %}
                        {{ delete_form }}
                            <button type="submit" class="icon-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form method="POST" action="{% url 'manage_themes' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <label for="name">Create theme:</label>
                {{ form.name }}
            </div>
        </div>
        <button class="save-btn">Create</button>
    </form>
</div>
{% endblock account_content %}