{% extends "chat-main.html" %}
{% load static %}
{% load tz %}
{% block javascript %}
    <script type="module" src="{% static 'chat/js/members.js' %}"></script>
{% endblock javascript %}
{% block chat_container %}
{% load custom_filters %}
    {% now "U" as current_time %}
    <div class="container row align-items-center justify-content-center" style="font-size: 24px">
        Users
    </div><hr>
    <div class="members-main">
        {% for u in users %}
            <div class="chat-members-div">
                <div class="member-info">
                    {{ u.username }}
                </div>
                <div class="start-chat">
                    <a href="/chat/{{ u.profile.uuid|remove_hyphens}}/">
                        <button id="start-chat-btn"
                                {% if current_time < user.profile.blocked_until|date:"U" %} disabled style="background-color: rgba(255,0,0,0.48)"{% endif %}>
                            <i class="fa-regular fa-message"></i>
                            <span class="button-text">
                                Chat
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container row align-items-center justify-content-center" style="font-size: 24px">
        Rooms
    </div><hr>
        {% for r in rooms %}
            {% if r.is_public %}
                <div class="chat-members-div">
                    <div class="group-info">
                        {{ r.name }}
                    </div>
                    <div class="start-chat">
                        <a href="/chat/group/{{ r.uuid|remove_hyphens}}/">
                            <button id="start-chat-btn"
                                    {% if current_time < user.profile.blocked_until|date:"U" %} disabled style="background-color: rgba(255,0,0,0.48)"{% endif %}>
                                <i class="fa-regular fa-message"></i>
                                <span class="button-text">
                                    Join
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
    {% endfor %}
    {{ request.user.profile.blocked_until|date:"d M Y H:i:s"|json_script:"user_block_date" }}
{% endblock chat_container %}
